<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <testsuites>
        <testsuite name="ShortUrl Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter><php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2v3P70851bml9M/fPa/LpXY90FGgVlFS/MnXeTKb9vY=" />
    </php>
</phpunit>